.seoType {
    background: -webkit-linear-gradient(90deg, rgb(149 143 248) 0%, rgb(24 24 170) 35%, #4d659b 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.top-section{
  padding: 100px 0px;
}

.hidden{
  display: none;
}

@media only screen and (max-width: 576px) {
  .brand-logo {
    height:30px !important;
  }
}

@media only screen and (min-width: 577px) and (max-width: 767px) {
  .brand-logo {
    height:30px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px)  {
  .brand-logo {
    height:40px !important;
  }
}

@media only screen and (min-width: 992px) {
  .brand-logo {
    height:50px !important;
  }
}