html,
body {
  height: 100%;
  background-color:#F3F0D7 !important; 
  font-family:'guestpost-title'; 
}

#login-card{
  background-color:#CEE5D0;
}

#login-button{
  background-color:#FFBF86; 
  border-color:#FFBF86;
}